@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-name);

    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-text-hover-background);
    }
}

@media (min-width: 1024px) {
    .text-block {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    body {
        display: flex;
        place-items: center;
    }

    #app {
        padding: 0 2rem;
    }
}